.test1{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 200px;
    background: #7a069a;
    float: left;
    border-bottom-left-radius: 50px;
    position: relative;
}

.test1__item1{
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    font-family: "Comic Sans MS", serif;
    color: #ffffff;
    top: 10px;
}
.test1__item2{
    text-align: center;
    line-height: 100px;
    font-size: 10px;
    font-family: "Comic Sans MS", serif;
    color: #ffffff;
    top: 50px;
}

.test2{
    margin: 0;
    padding: 0;
    float: left;
    width: 300px;
    height: 200px;
    background: #57a96f;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    font-family: "Comic Sans MS", serif;
    color: #ffffff;
    border-bottom-right-radius: 50px;
    /*margin: 20px 0 20px 0;*/
}